.button-collection {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.button-collection button {
  width: 100%;
  padding: 0.5rem;
  border: 2px solid rgba(37, 99, 235, 0.3);
  color: var(--blue);
  text-transform: uppercase;

  font-size: 0.8rem;

  transition: all 0.3s ease-in-out;
}

.button-collection button:hover,
.button-collection button:focus,
.button-collection button.active {
  width: 100%;
  padding: 0.5rem;
  background-color: var(--blue);
  color: white;
  text-transform: uppercase;
}
