:root {
  /* Blue-600 */
  --blue: #2563eb;
  /* Blue-600 */

  /* Slate-900 */
  --big-text: #0f172a;
  /* Slate-900 */

  /* Slate-800 */
  --normal-text: #1e293b;
  /* Slate-800 */

  /* Gray-100 */
  --bg-gr: #f3f4f6;
  /* Gray-100 */

  --bg-light-gr: #fff;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

/* ! -----------Application----------- */

/* Application navbar */
.application-navbar {
  box-shadow: 0px 0px 100px -19px rgba(34, 60, 80, 0.19);
}

.application_content .form-section {
  padding: 6vh 6rem;
}

.application_quote {
  background-color: var(--bg-gr);
}

.application_form label {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 6px 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.application_form input {
  display: block;
  outline: none;
  margin-bottom: 1rem;
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid rgba(37, 99, 235, 0.2);
}

.application_form input[type="text"],
.application_form input[type="tel"] {
  color: var(--normal-text);
  background-color: var(--bg-gr);
}

.mobile_content {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.mobile_content.active {
  opacity: 1;
  visibility: visible;
}
/* /Application navbar */

/* Application Content  */
/* /Application Content  */
/* ! /-----------Application----------- */
