@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

/* Applications */
.form-section {
  margin: auto;
  width: 80%;
}
/* Applications */
